.ulRecipes {
    margin: 10px;
    padding: 10px;
    border: solid 1px darkgray;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.ulRecipes li{
    width: 350px;
}
